body {
    display: flex;
    background-color: black;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    display: flex;
    text-align: center;
    height: 10vh;
    width: 100%;
    color: white;
    font-family: monospace;
    flex-direction: column;
    
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 76vh;
    width: 100%;
    font-family: monospace;
}

img {
    justify-content: center;
    height: 85px;
    padding-right: 30px;
}

article {
    margin: 5px;
    text-align: center;
    height: 32vh;
    width: 40vw;
    color: white;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    border: purple 5px solid;
    border-radius: 30px;
}

aside {
    margin: 5px;
    width: 40vw;
    height: 20vh;
    text-align: center;
    color: white;
    border: purple 5px solid;
    border-radius: 30px;
}

nav {
    background-color: black;
    display: flex;
    justify-content: center;
}

#comments {
    display: flex;
    flex-direction: column;
}

#telegrambutton {
    align-items: center;
    justify-content: center;
    height: 85px;
    width: 200px;
    border: lightblue 5px solid;
    border-radius: 50px;
    color: white;
    background-color: black;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

#telegrambutton:hover {
    background-color: lightblue;
    color: black;
}

footer {
    background-color: black;
    color: white;
    text-align: left;
    font-family: monospace;
    padding: 8px;
}
